<div class="skills-container">
  <div class="skills-container__title">
      <h2>{{'skills.title'| translate}}</h2>
      <div class="separator">
          <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
          </svg>
      </div>
      <div class="skills-charts">
          <lib-cloudy class="skill-tag" [tags]="tags" [options]="options" (tagClick)="tagClicked($event)"></lib-cloudy>
      </div>
  </div>
</div>
