<div class="about-container">
  <div class="about-container__title">
      <h2>{{'about.title'| translate}}</h2>
      <div class="separator">
          <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
          </svg>
      </div>
      <br>
      <div fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="30px">
          <!-- 1st card for the photo -->
          <div fxFlex="30" fxFlex.lt-md="100">
            <div fxLayout="row" fxLayout.lt-sm="column">
                <div class="image-cropper">
                  <img src="assets/images/ramanuj.jpeg" alt="avatar" class="profile-pic">
                </div>
            </div>
          </div>
          <!-- 2nd card for the about me content -->
          <div fxFlex="70" fxFlex.lt-md="100">
            <div fxLayout="row" fxLayout.lt-sm="column">
              <span>{{'about.description'| translate}}</span>
            </div>
            <p>{{'about.timeline.header'| translate}}</p>
            <!-- 2nd card - row -->
            <div fxLayout="row" fxLayout.lt-sm="column">
              <mat-icon >arrow_right_alt</mat-icon>
              <span>{{'about.timeline.one'| translate}}</span>
            </div>
            <div fxLayout="row" fxLayout.lt-sm="column">
              <mat-icon >arrow_right_alt</mat-icon>
              <span>{{'about.timeline.two'| translate}}</span>
            </div>
            <div fxLayout="row" fxLayout.lt-sm="column">
              <mat-icon >arrow_right_alt</mat-icon>
              <span>{{'about.timeline.three'| translate}}
              </span>
            </div>
            <div fxLayout="row" fxLayout.lt-sm="column">
              <mat-icon >arrow_right_alt</mat-icon>
              <span>{{'about.timeline.four'| translate}}</span>
            </div>
            <div fxLayout="row" fxLayout.lt-sm="column">
              <mat-icon >arrow_right_alt</mat-icon>
              <span>{{'about.timeline.five'| translate}}</span>
            </div>
            <p>{{'about.passion.header'| translate}}</p>
            <div fxLayout="row" fxLayout.lt-sm="column">
              <mat-icon >mood</mat-icon>
              <span>{{'about.passion.description'| translate}}</span>
            </div>
          </div>
      </div>
  </div>
</div>
