<div class="about-container">
  <div class="about-container__title">
      <h2>About me</h2>
      <div class="separator">
          <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
          </svg>
      </div>
      <br>
      <div fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="30px">
          <!-- 1st card for the photo -->
          <div fxFlex="30" fxFlex.lt-md="100">
            <div fxLayout="row" fxLayout.lt-sm="column">
                <div class="image-cropper">
                  <img src="assets/images/ramanuj.jpeg" alt="avatar" class="profile-pic">
                </div>
            </div>
          </div>
          <!-- 2nd card for the about me content -->
          <div fxFlex="70" fxFlex.lt-md="100">
            <div fxLayout="row" fxLayout.lt-sm="column">
              <span>
                  Everything started with a passion for web technology. A well driven, result oriented and self motivated individual who believes in aspiring high and then complementing it with hard work.
                  I’ve extensive experience in front-end technologies like HTML5, CSS3, JavaScript, Angular etc. Combining those with my knowledge of the current web standards, I have successfully executed many front-end projects.
              </span>
            </div>
            <p>Timeline:</p>
            <!-- 2nd card - row -->
            <div fxLayout="row" fxLayout.lt-sm="column">
              <mat-icon >arrow_right_alt</mat-icon>
              <span>
                1989- Born and raised in Buchilami a small village in Jharkhand, India.
              </span>
            </div>
            <div fxLayout="row" fxLayout.lt-sm="column">
              <mat-icon >arrow_right_alt</mat-icon>
              <span>
                2008- Moved to Tamil Nadu, India to complete my B.Tech (CHE Engineering) from SASTRA University.
              </span>
            </div>
            <div fxLayout="row" fxLayout.lt-sm="column">
              <mat-icon >arrow_right_alt</mat-icon>
              <span>
                2012- Started my professional career as a web developer with Tata Consultancy Services LTD in Chennai, India. I worked for client State Farm, Insurance (USA) as a web developer for 2+ years.
              </span>
            </div>
            <div fxLayout="row" fxLayout.lt-sm="column">
              <mat-icon >arrow_right_alt</mat-icon>
              <span>
                2015- Worked for another project as senior front end developer for CNA Insurance (USA).
              </span>
            </div>
            <div fxLayout="row" fxLayout.lt-sm="column">
              <mat-icon >arrow_right_alt</mat-icon>
              <span>
                2016- Moved to Amsterdam, Netherlands and started working for KLM Royal Dutch Airlines as Senior front end developer (Angular 2+).
              </span>
            </div>
            <p>Passion:</p>
            <div fxLayout="row" fxLayout.lt-sm="column">
              <mat-icon >mood</mat-icon>
              <span>
                  During the free time, I like travelling and exploring the new places as well as making new friends.
              </span>
            </div>
          </div>
      </div>
  </div>
</div>
