<div class="about-container">
  <div class="about-container__title">
      <h2>About me</h2>
      <div class="separator">
          <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
          </svg>
      </div>
      <br>
      <mat-card class="example-card">
        <mat-card-content>
          <p>
              A well driven, result oriented and self motivated individual who believes in aspiring high and then complementing it with hard work.
              I’ve extensive experience with HTML5, CSS3, JavaScript and Angular. Combining those with my knowledge of the current web standards, I have successfully executed front-end projects with cross browser compatibility. Using Bootstrap and Media query, I have also developed responsive websites.
          </p>
        </mat-card-content>
      </mat-card>
  </div>
</div>
