body {
  background: linear-gradient(rgba(27,195,159,.2),rgba(27,195,159,.2)),url(assets/images/background.jpg) no-repeat 50%;
  background-attachment: fixed;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
  margin-top: 0;
}

.about-container,
.skills-container,
.not-container,
.experience-container,
.contact-container,
.awards-container {
  h2 {
    margin-bottom: -30px;
  }
}
// Mobile view
@media only screen and (max-width: 678px) {
  .about-container,
  .skills-container,
  .not-container,
  .experience-container,
  .contact-container,
  .awards-container {
    h2 {
      margin-bottom: 0px;
    }
  }
}
