<!-- Contact Me -->
<div class="contact-container">
  <div class="contact-container__title">
      <h2>{{'contact.title'| translate}}</h2>
      <div class="separator">
          <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
          </svg>
      </div>
      <br>
      <div fxLayout="row" fxLayout.lt-lg="column">
        <!-- contact me card -->
        <div fxFlex="100" fxFlex.lt-md="100">
          <mat-card>
            <mat-card-content>
              <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="100px">
                  <p class="text-white animation-element fadeInUp">{{'contact.description'| translate}}
                      <a href="mailto:pd.ramanuj@gmail.com">{{'contact.link'| translate}}</a>
                      <span class="sr-only">pd.ramanuj@gmail.com</span>
                  </p>
              </div>
            </mat-card-content>
            <mat-card-actions>
              <a mat-raised-button href="https://www.linkedin.com/in/ramanujprasad/" target="_blank" class="social-footer">
                <i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i>
              </a>
              <a mat-raised-button href="https://github.com/ramanujprasad" target="_blank" class="social-footer">
                <i class="fa fa-github fa-3x" aria-hidden="true"></i>
              </a>
              <a mat-raised-button href="mailto:pd.ramanuj@gmail.com" class="social-footer">
                <i class="fa fa-envelope-o fa-3x" aria-hidden="true"></i>
              </a>
              <a mat-raised-button href="assets/images/resume.pdf" target="_blank" class="social-footer">
                <i class="fa fa-file-text-o fa-3x" aria-hidden="true"></i>
              </a>
              <a mat-raised-button href="tel:+31-647351314" target="_blank" class="social-footer">
                <i class="fa fa fa-mobile fa-3x" aria-hidden="true"></i>
              </a>
              <!-- <a mat-raised-button href="https://goo.gl/maps/yaiaAVscCX3wB5u87" target="_blank" class="social-footer">
                <i class="fa fa fa-map-marker fa-3x" aria-hidden="true"></i>
              </a> -->
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
  </div>
</div>
