:root {
	--animation-delay: 0;
	--duration: 200ms;
	--iterations: 1;
}

.home-container {
  display: flex;
  align-items: center;

  &__title,
  &__title::after {
    animation-delay: var(--animation-delay, 0.5s);
    animation-iteration-count: var(--iterations, 1);
    animation-duration: var(--duration, 800ms);
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
  }

  &__title {
    position: relative;
    margin-right: 15%;
    animation-name: clip-text;
    color: #000;
    cursor: default;

    &::after {
      content: "";
      position: absolute;
      z-index: 999;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #85cfd5;
      transform: scaleX(0);
      transform-origin: 0 50%;
      pointer-events: none;
      animation-name: text-revealer;
    }

    h1 {
      font-size: 95px;
    }

    span {
      font-size: 20px;
    }
  }
}

@keyframes clip-text {
	from {
		clip-path: inset(0 100% 0 0);
	}
	to {
		clip-path: inset(0 0 0 0);
	}
}


@keyframes text-revealer {

	0%, 50% {
		transform-origin: 0 50%;
	}

	60%, 100% {
		transform-origin: 100% 50%;
	}


	60% {
		transform: scaleX(1);
	}

	100% {
		transform: scaleX(0);
	}
}

// Mobile view

@media only screen and (max-width: 678px) {
  .home-container {
    display: block;
  }
  .home-container__title h1{
    // background-color: lightblue;
    font-size: 25px;
  }
}
