:host {
  .mat-card-content {
    margin-top: 5px;
  }
}
.header-image {
  background-size: cover;

  &__movie {
    background-image: url('../../../assets/images/experience/movie.jpg');
  }

  &__profile {
    background-image: url('../../../assets/images/experience/profile.jpg');
  }

  &__login {
    background-image: url('../../../assets/images/experience/login.jpg');
  }
  &__cockroach {
    background-image: url('../../../assets/images/experience/cockroach.jpg');
  }
}
