<div class="experience-container">
  <div class="experience-container__title">
      <h2>{{'experience.title'| translate}}</h2>
      <div class="separator">
          <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
          </svg>
      </div>
      <br>
      <div fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="30px">
        <!-- 1st card -->
        <div fxFlex="50" fxFlex.lt-md="100">
          <mat-card>
            <mat-card-header>
              <div mat-card-avatar class="header-image header-image__movie"></div>
              <mat-card-title>{{'experience.one.title'| translate}}</mat-card-title>
              <mat-card-subtitle>{{'experience.one.subtitle'| translate}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="50px">
                <img fxFlexAlign="center" mat-card-image src="assets/images/experience/movie.jpg" height="400px" alt="Movie image">
              </div>
            </mat-card-content>
            <mat-card-actions>
              <a mat-raised-button color="primary" href="https://ramanujprasad.github.io/MovieApp/" target="_blank">{{'experience.btn.website'| translate}}</a>
              <a mat-raised-button href="https://github.com/ramanujprasad/MovieApp" target="_blank">{{'experience.btn.code'| translate}}</a>
            </mat-card-actions>
          </mat-card>
        </div>
        <!-- 2nd card -->
        <div fxFlex="50" fxFlex.lt-md="100">
          <mat-card>
            <mat-card-header>
              <div mat-card-avatar class="header-image header-image__profile"></div>
              <mat-card-title>{{'experience.two.title'| translate}}</mat-card-title>
              <mat-card-subtitle>{{'experience.two.subtitle'| translate}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="50px">
                <img fxFlexAlign="center" mat-card-image src="assets/images/experience/profile.jpg" height="400px" alt="Profile image">
              </div>
            </mat-card-content>
            <mat-card-actions>
              <a mat-raised-button color="primary" href="https://ramanujprasad.github.io/portfolio" target="_blank">{{'experience.btn.website'| translate}}</a>
              <a mat-raised-button href="https://github.com/ramanujprasad/portfolio" target="_blank">{{'experience.btn.code'| translate}}</a>
            </mat-card-actions>
          </mat-card>
        </div>

         <!-- 3rd card -->
         <div fxFlex="50" fxFlex.lt-md="100">
          <mat-card>
            <mat-card-header>
              <div mat-card-avatar class="header-image header-image__login"></div>
              <mat-card-title>{{'experience.three.title'| translate}}</mat-card-title>
              <mat-card-subtitle>{{'experience.three.subtitle'| translate}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="50px">
                <img fxFlexAlign="center" mat-card-image src="assets/images/experience/login.jpg" height="400px" alt="Admin app image">
              </div>
            </mat-card-content>
            <mat-card-actions>
              <a mat-raised-button color="primary" href="https://ramanujprasad.github.io/Angular4AdminApp/" target="_blank">{{'experience.btn.website'| translate}}</a>
              <a mat-raised-button href="https://github.com/ramanujprasad/Angular4AdminApp" target="_blank">{{'experience.btn.code'| translate}}</a>
            </mat-card-actions>
          </mat-card>
        </div>

           <!-- 4th card -->
        <div fxFlex="50" fxFlex.lt-md="100">
          <mat-card>
            <mat-card-header>
              <div mat-card-avatar class="header-image__cockroach"></div>
              <mat-card-title>{{'experience.four.title'| translate}}</mat-card-title>
              <mat-card-subtitle>{{'experience.four.subtitle'| translate}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="50px">
                <img fxFlexAlign="center" mat-card-image src="assets/images/experience/cockroach.jpg" height="400px" alt="Cockroach image">
              </div>
            </mat-card-content>
            <mat-card-actions>
              <a mat-raised-button color="primary" href="https://ramanujprasad.github.io/CockroachSmasherGame/Cockroach/" target="_blank">{{'experience.btn.website'| translate}}</a>
              <a mat-raised-button href="https://github.com/ramanujprasad/CockroachSmasherGame" target="_blank">{{'experience.btn.code'| translate}}</a>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
  </div>
</div>
