<div class="awards-container">
  <div class="awards-container__title">
      <h2>{{'awards.title'| translate}}</h2>
      <div class="separator">
          <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
          </svg>
      </div>
      <br>
      <!-- 1st Award -->
      <div fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="20px">
          <div fxFlex="20" fxFlex.lt-md="100">
            <div fxLayout="row" fxLayout.lt-sm="column">
                <span class="awards-container__icon">
                    <mat-icon >looks_one</mat-icon>
                    {{'awards.one.name'| translate}}
                </span>
            </div>
          </div>
          <div fxFlex="60" fxFlex.lt-md="100">
            <div fxLayout="row" fxLayout.lt-sm="column">
              <span class="awards-container__details">{{'awards.one.description'| translate}}</span>
            </div>
          </div>
          <div fxFlex="20" fxFlex.lt-md="100">
            <div fxLayout="row" fxLayout.lt-sm="column" class="awards-container__row">
                <div class="image-cropper">
                  <a href="assets/pdf/cert/StarOfMonthCertificate.pdf" target="_blank">
                    <img src="assets/images/awards/starofmonth.png" alt="Awards pics" class="awards-container__row__pic">
                  </a>
                </div>
            </div>
          </div>
      </div>

      <!-- 2nd Award -->
      <div fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="20px">
        <div fxFlex="20" fxFlex.lt-md="100">
          <div fxLayout="row" fxLayout.lt-sm="column">
            <span class="awards-container__icon">
                <mat-icon >looks_two</mat-icon>
                {{'awards.two.name'| translate}}
            </span>
          </div>
        </div>
        <div fxFlex="60" fxFlex.lt-md="100">
          <div fxLayout="row" fxLayout.lt-sm="column">
            <span class="awards-container__details">{{'awards.two.description'| translate}}</span>
          </div>
        </div>
        <div fxFlex="20" fxFlex.lt-md="100">
          <div fxLayout="row" fxLayout.lt-sm="column" class="awards-container__row">
              <div class="image-cropper">
                <a href="assets/pdf/cert/BestTeamCertificate.pdf" target="_blank">
                  <img src="assets/images/awards/bestteam.png" alt="Awards pics" class="awards-container__row__pic">
                </a>
              </div>
          </div>
        </div>
    </div>

    <!-- 3rd Award -->
    <div fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="20px">
      <div fxFlex="20" fxFlex.lt-md="100">
        <div fxLayout="row" fxLayout.lt-sm="column">
          <span class="awards-container__icon">
              <mat-icon >looks_3</mat-icon>
              {{'awards.three.name'| translate}}
          </span>
        </div>
      </div>
      <div fxFlex="60" fxFlex.lt-md="100">
          <div fxLayout="row" fxLayout.lt-sm="column">
            <span class="awards-container__details">{{'awards.three.description'| translate}}</span>
          </div>
        </div>
      <div fxFlex="20" fxFlex.lt-md="100">
        <div fxLayout="row" fxLayout.lt-sm="column" class="awards-container__row">
            <div class="image-cropper">
              <a href="assets/pdf/cert/SpecialInitialtiveCertificate.pdf" target="_blank">
                <img src="assets/images/awards/specialinitiative.png" alt="Awards pics" class="awards-container__row__pic">
              </a>
            </div>
        </div>
      </div>
  </div>

    <!-- 4th Award -->
    <div fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="20px">
      <div fxFlex="20" fxFlex.lt-md="100">
        <div fxLayout="row" fxLayout.lt-sm="column">
          <span class="awards-container__icon">
              <mat-icon >looks_4</mat-icon>
              {{'awards.four.name'| translate}}
          </span>
        </div>
      </div>
      <div fxFlex="60" fxFlex.lt-md="100">
        <div fxLayout="row" fxLayout.lt-sm="column">
          <span class="awards-container__details">{{'awards.four.description'| translate}}</span>
        </div>
      </div>
      <div fxFlex="20" fxFlex.lt-md="100">
        <div fxLayout="row" fxLayout.lt-sm="column" class="awards-container__row">
            <div class="image-cropper">
              <a href="assets/pdf/cert/DigitalLiteracyCertificate.pdf" target="_blank">
                <img src="assets/images/awards/digitalliteracy.png" alt="Awards pics" class="awards-container__row__pic">
              </a>
            </div>
        </div>
      </div>
    </div>

     <!-- 5th Award -->
     <div fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="20px">
      <div fxFlex="20" fxFlex.lt-md="100">
        <div fxLayout="row" fxLayout.lt-sm="column">
          <span class="awards-container__icon">
              <mat-icon >looks_5</mat-icon>
              {{'awards.five.name'| translate}}
          </span>
        </div>
      </div>
      <div fxFlex="60" fxFlex.lt-md="100">
        <div fxLayout="row" fxLayout.lt-sm="column">
          <span class="awards-container__details">{{'awards.five.description'| translate}}</span>
        </div>
      </div>
      <div fxFlex="20" fxFlex.lt-md="100">
        <div fxLayout="row" fxLayout.lt-sm="column" class="awards-container__row">
            <div class="image-cropper">
              <a href="assets/pdf/cert/OnTheSpotCertificate.pdf" target="_blank">
                <img src="assets/images/awards/onthespot.png" alt="Awards pics" class="awards-container__row__pic">
              </a>
            </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Notification -->
  <!-- <div class="awards-notification">
    {{'awards.notification'| translate}}
  </div> -->
</div>
