.awards-container {
  &__row {
    float: right;
    cursor: pointer;

    &__pic {
      height: 70px;
      width: 200px;
      border: 2px solid #000;
    }
  }
  &__icon {
    font-size: 20px;
    font-family: monospace;
    font-style: italic;
    text-transform: uppercase;
  }
  &__details {
    font-family: cursive;
  }
}

.awards-notification {
  float: right;
  color: red;
}
